on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 10.x
      - name: Install NPM deps
        run: |
          npm install
      - name: Generate hubspot.config.yml and deploy
        env:
          HUBSPOT_PORTAL_ID: 22144728
          HUBSPOT_API_KEY: "9b017377-aaff-42ba-98b3-9a75ca245b6a"
        run: |
          bin/generate-config.js
          bin/deploy.sh
